<%= form_for([@book,@book.comments.build]) do |f| %>
	<p class="desc">
		Post as : <%= current_user.email %>
	</p>
	<p>
		
		<%= f.text_area :body %>
	</p>
	<br>
	<p>
		
		<%= f.button :POST, class: "btn-custom2" %>
	</p>

	<% end %>
